 /*  Element selector  */

 h1{
    color: red;
   
}
/*  Class selector  */
.yellBack{
    background-color:  yellow;
}

/*  Id selector  */

#h2tag{
  font-size:  3rem;
}

/*  Universal selector  */

*{
margin: 0;
}

/*  attribute selector  */

[alt="alien"]{
 width: 100px;
 height : 300px;
}
