* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}
header {
  width: 100%;
  height: 12%;
  background-color: #efbc9b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.priorityColor {
  width: 30%;
  height: 70%;
  background-color: #9cafaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.utlityOptions {
  width: 15%;
  height: 70%;
  background-color: #9cafaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 70%;
  width: 20%;
  background-color: red;
}

.red {
  background-color: #a0153e;
}

.blue {
  background-color: lightskyblue;
}

.green {
  background-color: lightgreen;
}

.black {
  background-color: black;
}

main {
  width: 100%;
  height: 88%;
  background-color: #d6dac8;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
}

.card {
  height: 32vh;
  width: 15vw;
  background-color: #fbf3d5;
  margin: 1%;
  position: relative;
  z-index: 1;
}

.colorCont {
  width: 100%;
  height: 10%;
  /* background-color: #a0153e; */
}

.taskAddContainer {
  width: 35vw;
  height: 33vh;
  position: absolute;
  background-color: #efbc9b;
  border: 5px solid black;
  left: 32.5vw;
  top: 25vh;
  z-index: 2;
}

.noDisplay {
  display: none;
}

.taskText {
  width: 100%;
  height: 78%;
  resize: none;
  border: none;
  outline: none;
  padding: 1%;
  font-size: 2rem;
  background-color: #efbc9b;
}

.colorBorder {
  border: blue solid 5px;
}
.priorityColorTask {
  width: 100%;
  height: 20%;
  background-color: #9cafaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid black;
}

.textArea {
  padding: 5px;
  font-size: 2rem;
  width: 100%;
  height: 90%;

  overflow: scroll;
  word-wrap: break-word;
}

.lockIcon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
